<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .text {
            color: black;
            font-family: 'Courier New', Courier, monospace;
        }

        /* b {
            font-size: 20px;
        } */
        .con {
            width: 300px;
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="row text-center">
        <div class="container con pt-5 pb-5">
            <div>
                <span>
                    <img src="<%= logo %>" height="100px" width="100px" alt="logo-img"></span>
            </div>
            <div class="pt-4">
                <span class="text">
                    <b>
                        <p>Accout Varification</p>
                    </b>
                </span>
            </div>
            <div>
                <span>
                    <p>You're almost ready to start enjoying our system.

                        Simply click button to verify your accout.</p>
                </span>
                <span>
                    <a href="<%= url %>"> <button class="btn btn-primary text">Verify Accout</button> </a>
                </span>
            </div>
        </div>
    </div>
</body>

</html>